# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
venv/
.env

# IDE files
.vscode/
*.idea/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Test/coverage reports
htmlcov/
*.cover
.coveragerc
nosetests.xml
test-results/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Configuration files
*.ini
*.yaml
*.json
